.calculator {
  width: 320px;
  margin: 20px auto;
  background-color: #222;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

#display {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  padding: 15px;
  margin: 5px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
}

button:hover {
  background-color: #555;
}

.clear {
  background-color: #ff6666;
}

.operator {
  background-color: #ffcc66;
}

.equals {
  background-color: #99cc99;
}
